head {
	background-color: white;
	font-family: Verdana, Georgia, sans-serif;
 }

body { 
	background-color: white;
	
	font-family: Verdana, Georgia, sans-serif;
 }

header {
	background-color: #9370DB;
	color: white;
	padding: 80px;
	text-align: center;
}