.head {
	background-color: white;
	font-family: Verdana, Georgia, sans-serif;
 }

.body { 
	background-color: white;
	font-family: Verdana, Georgia, sans-serif;
 }

.header {
	background-color: #9370DB;
	color: white;
	padding: 80px;
	text-align: center;
}

.nav {
	overflow: hidden;
	background-color: SlateBlue;
}

.nav a {
	float: left;
	display: inline;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.nav a:hover {
	background-color: DarkSlateBlue;
	color: LightGray;
}

.footer {
	padding: 20px;
	text-align: center;
	background: SlateGray;
}